interfaceq/src/main/resources/wsdl/NovedadCombo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://austral.com/model/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://austral.com/model/soap" targetNamespace="http://austral.com/model/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://austral.com/model/soap">




<xs:element name="CPTCompuesto">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="CodigoPadre" type="xs:string"/>
			<xs:element name="Estudios">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Estudio">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CodigoCPT" type="xs:string"/>
									<xs:element name="Cantidad" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>


<xs:element name="InformarNovedadComboResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="CodigoRespuesta" type="xs:string"/>
			<xs:element name="EstadoRespuesta" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>



</xs:schema>
  </wsdl:types>
  <wsdl:message name="CPTCompuesto">
    <wsdl:part element="tns:CPTCompuesto" name="CPTCompuesto">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InformarNovedadComboResponse">
    <wsdl:part element="tns:InformarNovedadComboResponse" name="InformarNovedadComboResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NovedadComboPort">
    <wsdl:operation name="InformarNovedadCombo">
    	<wsdl:input message="tns:CPTCompuesto" name="CPTCompuesto">
    	</wsdl:input>
      	<wsdl:output message="tns:InformarNovedadComboResponse" name="InformarNovedadComboResponse">
    	</wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NovedadComboPortSoap11" type="tns:NovedadComboPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InformarNovedadCombo">
      <soap:operation soapAction=""/>
      <wsdl:input name="CPTCompuesto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="InformarNovedadComboResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NovedadComboPortService">
    <wsdl:port binding="tns:NovedadComboPortSoap11" name="NovedadComboPortSoap11">
      <soap:address location="http://localhost:8081/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>